@import '../../../styles/variables.scss';

:host {
    display: block;
}

.form {
    display: flex;
    align-items: stretch;
    box-shadow: $shadow;
    border-radius: $borderRadius;
}

.search {
    &-input {
        flex: 1 1 auto;
        box-shadow: none;
        border-radius: $borderRadius 0 0 $borderRadius;
    }

    &-submit {
        flex: 0 0 auto;
        box-shadow: none;
        border-radius: 0 $borderRadius $borderRadius 0;
    }
}