<div class="container">
    <app-search-form
        class="search-form mb-3"
        (onSubmit)="searchLocations($event)"
    ></app-search-form>
    <div class="mb-3">
        <div class="show-locations">
            <button
                class="show-locations-button mb-3"
                *ngIf="(locations$ | async).length"
                (click)="showLocations = !showLocations"
                [ngClass]="{ 'locations-hidden': showLocations }"
            >
                <div class="show-locations-label">
                    {{ showLocations ? 'Hide' : 'Show' }} locations
                </div>
                <i class="material-icons show-locations-icon">
                    arrow_forward_ios
                </i>
            </button>
        </div>
        <div class="row" *ngIf="showLocations">
            <div
                class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3"
                *ngFor="let location of (locations$ | async)"
            >
                <app-location
                    class="location"
                    (selectEvent)="setLocation($event)"
                    (removeEvent)="removeLocation($event)"
                    [location]="location"
                ></app-location>
            </div>
        </div>
    </div>
    <h1 class="title mb-3" *ngIf="currentLocation$ | async">
        <span class="text-transparent">
            Weather in
        </span>
        {{ (currentLocation$ | async).name }}
    </h1>
    <app-forecast-day
        class="mb-4"
        *ngFor="let day of (forecast$ | async)"
        [day]="day"
    ></app-forecast-day>
</div>
<footer class="footer">
    <div class="container">
        Developed by <a href="#">Artem Grachov</a>
    </div>
</footer>