@import '../../../../node_modules/bootstrap-4-grid/scss/grid.scss';
@import '../../../styles/variables.scss';

:host {
    padding: 20px 0;
}

.location {
    cursor: pointer;
}

.title {
    font-size: 20px;
    font-weight: normal;
    text-align: center;


    @include media-breakpoint-up(md) { 
        text-align: left;
        font-size: 24px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 32px;
    }
}

.show-locations {
    text-align: center;

    &-button {
        box-shadow: none;
        font-size: $textSmall;

        &:hover,
        &:focus,
        &:active {
            box-shadow: none;
        }
    }
}